.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    user-select: none;
    min-height: 100vh;
    transition: all 0.2s ease-in-out;
}

.menu {
    width: 10rem;
    height: 250px;
    padding: 0.3rem 0.4rem;
    border-radius: 0.1rem;
    background-color: hsl(0, 0%, 87%);
    position: sticky;
    top: calc(70px + 0.3rem);
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-item {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 0.1rem;
    }

    &-btn {
        // width: 100%;
        height: 100%;
        padding: 0.5rem;
        justify-content: flex-start;
        background-color: transparent;
    }
    &-btn + &-btn {
        margin-left: 0;
    }

    &-btn.active {
        background-color: hsl(0, 0%, 97%);
    }
}

.content {
    margin: 0.3rem 0;
    padding: 0;
    width: 100%;
    border-radius: 0.1rem;
    border: 1px solid hsl(0, 0%, 97%);
    background-color: hsl(0, 0%, 97%);
}

.p-row,
.p-row > .p-col {
    padding: 0;
}

.product {
    padding: 0.3rem;
}

.product > .card {
    border: 1px solid hsl(0, 0%, 91%);
    background-color: hsl(0, 0%, 100%);

    .img {
        width: 100%;
        height: 275px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .body {
        margin-top: 0.2rem;
        height: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
            height: 50px;
            text-align: center;
            font-size: 0.6rem;
            font-weight: 500;
            width: 100%;
            --max-line: 2;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: var(--max-line);
            -webkit-box-orient: vertical;
        }
        p {
            height: 50px;
            font-size: 0.8rem;
            font-weight: 600;

            color: hsl(0, 100%, 50%);
        }
    }

    .actions {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn {
            width: 150px;
            margin-bottom: 0.3rem;
        }
    }
}

@media screen and (max-width: 1085px) {
    .menu {
        padding: 0.3rem 0.2rem;
        border-radius: 0.1rem;
        background-color: hsl(0, 0%, 87%);
        top: 70px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
    }
    .menu {
        width: 100%;
        height: 100%;

        &-item {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.3rem;
            justify-content: flex-start;
        }

        &-btn {
            padding: 0.3rem 0.5rem;
        }
        &-btn:hover {
            text-decoration: underline;
        }
    }
}
@media screen and (max-width: 768px) {
    .product {
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            width: 60%;
        }
    }
}

@media screen and (max-width: 600px) {
    .product {
        .card {
            width: 80%;
        }
    }
}
